@import '../css/reset.css';
@import '../css/iconfont.css';

html {
  font-size: 62.5%;
}
body {
  display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  flex-direction: column;
}

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  // transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.child-view {
  position: absolute;
  // transition: all .5s cubic-bezier(.55,0,.1,1);
  transition: all .1s;
}
.slide-left-enter, .slide-right-leave-active {
  // opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(100%, 0);
}
.slide-left-leave-active, .slide-right-enter {
  // opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-100%, 0);
}
