<template lang="html">
  <div class="dashboard">
    <mt-header fixed title="Components"></mt-header>
    <div class="page-wrapper">
      <section>
        <p class="page-info">您已成功进入理财时代，欢迎查看专属于您的最优基金组合方案：</p>
      </section>
      <main class="page-content">
        <div class="detail detail-option">
          <a href="">方案详情 >></a>
        </div>
        <div class="main-chart">
          <section>
            <highcharts :options="pie"></highcharts>
          </section>
          <section class="stock-data-wrapper">
            <highcharts :options="stockHistory"></highcharts>
          </section>
          <section>
            <p class="page-info">本组合的过往业绩并不预示未来表现，也不构成本组合业绩表现的保证。市场有风险，投资需谨慎。</p>
          </section>
          <div class="detail detail-about">
            <a href="">什么是基金智投 >></a>
          </div>
        </div>
      </main>
    </div>
    <mt-button class="btn-flat btn-lg" type="primary" size="large">立即购买</mt-button>
  </div>
</template>

<script>
import { pie } from 'components/pie.js';
import { stockHistory } from 'components/stockHistory.js';

export default {
  name: 'components',
  data() {
    return {
      pie: pie,
      stockHistory: stockHistory
    }
  }
}
</script>

<style lang="scss">
  .dashboard {
    padding-top: 40px;
    padding-top: 4rem;
    margin-bottom: 50px;
    margin-bottom: 5rem;
    width: 100%;
    .page-wrapper {
      margin: auto;
      width: 95%;      
      font-size: 14px;
      font-size: 1.4rem;
      color: #777;
      .page-info {
        padding: 10px 0 13px 0;
        padding: 1rem 0 1.3rem 0;
        border-bottom: 1px solid #eee;
        line-height: 20px;
        line-height: 2rem;
      }
      .page-content {
        .detail {
          a {
            display: inline-block;
            color: #26a2ff;
            text-decoration: none;
          }
        }
        .detail-option {
          position: relative;
          a {
            padding: 12px;
            padding: 1.2rem;
            position: absolute;
            right: 0;
            z-index: 999;
          }
        }
        .detail-about {
          text-align: right;
          a {
            padding: 20px 12px 20px 12px;
            padding: 2rem 1.2rem 2rem 1.2rem;
          }
        }
        .main-chart {
          width: 100%;
          .stock-data-wrapper {
            border: 1px #eee solid;
            border-radius: 10px;
            border-radius: 1rem;
            overflow: hidden;
          }
        }
      }
    }
    .btn-flat {
      border-radius: 0;
    }
    .btn-lg {
      min-height: 55px;
      min-height: 5.5rem;
    }
  }
</style>
