<template lang="html">
  <div class="dashboard">
    <mt-header fixed title="Dashboard"></mt-header>
    <div class="main-chart">
      <highstock :options="options"></highstock>
    </div>
  </div>
</template>

<script>
import { stock } from 'components/stock.js';
export default {
  name: 'dashboard',
  data() {
    return {
      options: stock
    }
  }
}
</script>

<style lang="scss">
  .dashboard {
    padding-top: 40px;
    width: 100%;
    .main-chart {
      width: 100%;
    }
  }
</style>
