<template lang="html">
  <div class="schema">
    <mt-header fixed title="摩羯智投"></mt-header>
    <p>大致投资期限</p>
    <TransverseSlider
      :slots="terms"
      :slots-class="'term-slider'"
      :defaultIndex="1"
      @change="termSliderChange"
      />
    <hr/>
    <p>风险承受级别</p>
    <div class="current-risk-level">
      <div>{{currentRisk}}</div>
      <div class="vertical-line"></div>
    </div>
    <TransverseSlider
      :slots="rishLevel"
      :slots-class="'risk-level-slider'"
      :defaultIndex="4"
      :disableHighlight="true"
      @change="riskLevelSliderChange"
      />
    <div class="mock">
      <div>
        <div>
          <p>模拟历史</p>
          <p>年化业绩</p>
          <p>6.64%</p>
        </div>
        <div>
          <p>模拟历史年化</p>
          <p>波动率</p>
          <p>3.88%</p>
        </div>
      </div>
      <div>
        <p>投资<span>10,000元</span>，持有一年，模拟历史收益：<span>512元</span></p>
        <p><span>95%</span>的概率下亏损不超过：<span>66元</span></p>
      </div>
    </div>
    <mt-button @click.native="confirm" size="large" type="primary" class="confirm">我选好了</mt-button>
  </div>
</template>

<script>
import TransverseSlider from 'components/vendor/TransverseSlider.vue';

export default {
  name: 'info',
  data() {
    return {
      terms: [
        { html: '短期<br/>0-1年', value: 'short' },
        { html: '中期<br/>1-3年', value: 'medium' },
        { html: '长期<br/>3年以上', value: 'long' }
      ],
      rishLevel: [
        { html: '1', value: 1 },
        { html: '2', value: 2 },
        { html: '3', value: 3 },
        { html: '4', value: 4 },
        { html: '5', value: 5 },
        { html: '6', value: 6 },
        { html: '7', value: 7 },
        { html: '8', value: 8 },
        { html: '9', value: 9 },
      ],
      currentRisk: 5
    }
  },
  methods: {
    termSliderChange(e) {
      console.log(e);
    },
    riskLevelSliderChange(obj) {
      this.currentRisk = obj.payload.value;
    },
    confirm() {
      this.$router.push('/dashboard');
    }
  },
  components: { TransverseSlider }
}
</script>

<style lang="scss">
.schema {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  padding: 5rem 0;
  .term-slider li {
    width: 33%;
  }
  .risk-level-slider {
    width: 100%;
    li {
      position: relative;
      width: 11%;
      border-top: 1px solid #1CA5FF;
      margin-top: 1.5rem;
      padding-bottom: 10px;
      padding-top: 1rem;
      color: #ccc;
      &:before {
        content: '';
        position: absolute;
        top: -11px;
        top: -1.1rem;
        left: 50%;
        width: 0px;
        border-right: 1px solid #93d2fb;
        height: 10px;
        height: 1rem;
        transform: translateX(-1px);
      }
      &:first-child {
        &:after {
          content: '';
          border-top: 1px solid #fff;
          position: absolute;
          top: -1px;
          right: 50%;
          width: 50%;
          transform: translateX(-1px);
        }
      }
      &:last-child {
        &:after {
          content: '';
          border-top: 1px solid #fff;
          position: absolute;
          top: -1px;
          left: 50%;
          width: 50%;
        }
      }
    }
  }
  .current-risk-level {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-size: 3rem;
    &:before {
      content: '低风险';
      position: absolute;
      top: 0px;
      left: 10px;
      color: #ccc;
      font-size: 10px;
      font-size: 1rem;
      line-height: 30px;
      line-height: 3rem;
    }
    &:after {
      content: '高风险';
      position: absolute;
      top: 0px;
      right: 10px;
      color: #ccc;
      font-size: 10px;
      font-size: 1rem;
      line-height: 30px;
      line-height: 3rem;
    }
    .vertical-line {
      position: absolute;
      width: 0px;
      height: 3rem;
      border: 1px solid #1CA5FF;
      margin-left: 50%;
      transform: translateX(-1px);
      z-index: 100;
    }
  }
  .confirm {
    position: fixed;
    bottom: 0px;
    border-radius: 0px;
  }
  .mock {
    margin: 30px;
    margin: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-radius: 0.5rem;
    >div {
      &:nth-child(1) {
        display: flex;
        -webkit-displat: flex;
        flex-direction: row;
        div {
          width: 50%;
          text-align: center;
          padding: 0 15px;
          padding: 0 1.5rem;
          margin: 15px 0;
          margin: 1.5rem 0;
          p {
            font-size: 15px;
            font-size: 1.5rem;
            line-height: 1.2;
            &:nth-child(3) {
              color: #1CA5FF;
              font-size: 30px;
              font-size: 3rem;
              line-height: 1.5;
            }
          }
          &:nth-child(1) {
            border-right: 1px solid #ccc;
          }
        }
      }
      &:nth-child(2) {
        text-align: right;
        line-height: 1.5;
        padding: 10px 10px;
        padding: 1rem 1rem;
        background-color: #93d2fb;
        span {
          color: #1CA5FF;
        }
      }
    }
  }
  >p {
    font-size: 15px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2;
  }
  hr {
    margin: 20px 0;
    margin: 2rem 0;
    border: 1px solid #eee;
  }
}
</style>
