<template lang="html">
  <div class="main">
    <!-- <transition :name="transitionName"> -->
      <router-view class="child-view"></router-view>
    <!-- </transition> -->
    <mt-tabbar v-model="active" fixed>
      <mt-tab-item
        v-for="(tab, index) in tabs"
        :id="tab.id"
        @click.native="() => { link(index) }"
        >
          <i :class="[ tab.active ? tab.iconFill : tab.icon ]"></i>
          <p>{{tab.title}}</p>
      </mt-tab-item>
    </mt-tabbar>
  </div>
</template>

<script>
import { Tabbar, TabItem } from 'mint-ui';

export default {
  name: 'main',
  data() {
    return {
      active: 'dashboard',
      transitionName: 'slide-right',
      tabs: [
        {
          id: 'dashboard',
          title: 'Dashboard',
          route: '/dashboard',
          icon: 'iconfont icon-shouye',
          iconFill: 'iconfont icon-shouyefill',
          active: false
        },
        {
          id: 'components',
          title: 'Components',
          route: '/components',
          icon: 'iconfont icon-biaoxing',
          iconFill: 'iconfont icon-biaoxingfill',
          active: false
        },
        {
          id: 'info',
          title: 'Info',
          route: '/choice',
          icon: 'iconfont icon-dianpu',
          iconFill: 'iconfont icon-dianpufill',
          active: false
        },
        {
          id: 'user',
          title: 'user',
          route: '/user',
          icon: 'iconfont icon-pengyou',
          iconFill: 'iconfont icon-pengyoufill',
          active: false
        }
      ]
    }
  },
  methods: {
    link(index) {
      this.tabs.forEach(tab => tab.active = false);
      const selected = this.tabs[index];
      selected.active = true;
      this.$router.push({ path: selected.route })
    }
  },
  created() {
    const currentRouteName = this.$route.name;
    this.tabs.filter(tab => tab.id === currentRouteName)[0].active = true;
    this.active = currentRouteName;
  },
  // watch: {
  //   '$route' (to, from) {
  //     const toDepth = pathSeries.indexOf(to.path);
  //     const fromDepth = pathSeries.indexOf(from.path);
  //     this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
  //   }
  // },
  components: {
    Tabbar,
    TabItem
  }
}
</script>

<style lang="scss">

.main {
  .mint-tabbar {
    box-shadow: -10px 0px 10px #888888;
    .mint-tab-item {
      padding: 1rem 0px;
    }
  }
  i {
    font-size: 20px;
    font-size: 2rem;
  }
}
</style>
